<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" >Glossary</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('dashboard') }}">Dashboard</a>
            </li>
        </ul>
    </div>
</nav>

<br>
<br>
